{% extends "layout.twig" %}
{% block title %}single post{% endblock %}
{% block pagetitle %}single post test{% endblock %}
{% block content %}
<div class="list-group">
    {% for entry in entries %}
	<div class="list-group-item">
		<a href="{{ path_for('single-post',{id:entry.id}) }}">
		<h3 class="page-header">This is user {{ entry.id }}：{{ entry.title }}</h3>
		<p>{{entry.content}}</p>
		</a>
		<form action="{{base_url}}/post/{{ entry.id }}" method="post">
			<input type="hidden" name="_METHOD" value="DELETE"/>
			<a class="btn btn-primary" href="{{base_url}}/post/{{ entry.id }}/edit">編集</a>
			<input class="btn btn-danger" type="submit" value="削除">
		</form>
	</div class="list-group-item">
	{% else %}
	なし
	{% endfor %}
</div>
{% endblock %}