{% extends "layout.twig" %}
{% block title %}single post{% endblock %}
{% block pagetitle %}single post test{% endblock %}
{% block content %}
    <form action="{{base_url}}/post/{{entry.id}}" method="post">
        {% if {entry:id} > 0 %}
        <input type="hidden" name="_METHOD" value="PUT"/>
        {% endif %}
        <input type="hidden" name="id" value="{{entry.id}}">
    	<fieldset class="form-group">
    		<label>タイトル</label>
    		<input type="text" name="title" value="{{entry.title}}" class="form-control">
    	</fieldset>
    	<fieldset class="form-group">
    		<label>本文</label>
    		<textarea name="content" cols="30" rows="10" class="form-control">{{entry.content}}</textarea>
    	</fieldset>
    	<input type="submit" value="登録" class="btn btn-primary">
    </form>
{% endblock %}